* {
  box-sizing: border-box;
  font-family: var(--LATO);
  /*overflow: hidden;*/
}

body {
  margin: 0;
  padding: 0;

}

:root {
  --Color1: #eee;
  --Color_h3: #00adee;
  --Color_text: #4f4f4f;
  --Color_for_section: #f4f6f9;
  --Color_for_round: #00adee;
  --Color_blue: #00adee;
  --Link_color: #00adee;
  --LATO: "Lato", sans-serif;
}

.conteiner {
  flex-direction: column;
  overflow: hidden;
}

.firstSection {
  height: 100vh;
  width: 1440px;
  background: url("images/Frame.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  background-color: var(--Color_for_section);
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 163px;
}

.logo {
  padding-top: 55px;
}

.main_h1 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
  font-family: var(--LATO);
  margin-bottom: 27px;
}

.main_content {
  width: 540px;
  padding-top: 100px;
}

.main_info {
  font-family: var(--LATO);
  font-size: 18px;
  line-height: 26px;
}

.links {
  width: 348px;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.secondSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 592px;
}

.left-side {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0,
  rgba(255, 255, 255, 1) 100%),
  url("images/Background2.png");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  width: 50%;
}

.match_info {
  width: 360px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 0;
  position: absolute;
  top: 109px;
  left: 163px;
  z-index: 1;
}

.datatime_info {
  flex-basis: 50%;
  padding: 30px 0 0 15px;
  margin-bottom: 0;
}

.time {
  font-family: var(--LATO);
  font-size: 17px;
}

.announcement {
  font-family: var(--LATO);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 13px;
  margin-bottom: 17px;
}

.announcement2 {
  font-family: var(--LATO);
  font-size: 16px;
  line-height: 21px;
  margin-top: 17px;
}

.team_logos {
  flex-basis: 50%;
  padding-top: 50px;
  position: relative;
}

.Arsenal_emblem {
  position: absolute;
  top: 49px;
  left: 22px;
}

.Chelse_emblem {
  position: absolute;
  top: 49px;
  left: 80px;
}

.turn_on {
  height: 50px;
  width: 100%;
  align-self: center;
  background-color: var(--Color1);
  padding-left: 15px;
}

.turn_on_text {
  font-family: var(--LATO);
  font-size: 19px;
  line-height: 25px;
  margin-top: 12px;
}

.video {
  height: 218px;
  width: 360px;
  object-fit: contain;
}

.video1 {
  height: 218px;
  width: 360px;
  position: absolute;
  top: 296px;
  left: 269px;
}

.rightside {
  width: 50%;
}

.rightside {
  padding: 118px 0 0 123px;
  background-color: white;

}

.text_h3 {
  color: var(--Color_h3);
  font-size: 16px;
  line-height: 21px;
}

.text_h2 {
  font-size: 28px;
  line-height: 37px;
  padding-top: 6px;
  padding-bottom: 0;
}

.text_secondSection {
  font-size: 16px;
  line-height: 23px;
  color: var(--Color_text);
  width: 420px;
  padding-top: 2px;
  margin-bottom: 21px;
}

.link_secondSection {
  text-decoration: none;
  color: var(--Link_color);
  font-size: 16px;
  line-height: 21px;

}

/* click*/
.center {
  position: absolute;
  top: 88%;
  left: 88%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  width: 28px;
  height: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  position: relative;
}

input:checked[type="checkbox"] {
  background: #02a9f4;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -3px;
  left: 0;
  background: #fff;
  transform: scale(1, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]::before {
  left: 12px;
}

/*end of button-click*/

.thirdSection {
  display: flex;
  justify-content: space-between;
  height: 719px;
}

.thirdSectionLeft {
  padding: 202px 0 250px 162px;
  flex-basis: 50%;
}

.text_thirdSection {
  font-size: 16px;
  line-height: 23px;
  color: var(--Color_text);
  width: 480px;
  padding: 2px 0 6px 1px;
}

.link_thirdSection {
  text-decoration: none;
  color: var(--Link_color);
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.lastOne {
  margin-bottom: 50px;
}

.right_thirdSection {
  flex-basis: 50%;
  position: relative;
}

.phone_photo {
  width: 627px;
  height: 610px;
  object-fit: contain;
  position: absolute;
  top: 81px;
  left: 28px;
}

.ring_imege {
  position: absolute;
  top: 132px;
  left: 175px;
}

.incoming_coll_image {
  position: absolute;
  top: 449px;
  left: 429px;
}

.first_round {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 1px dashed var(--Color_for_round);
  position: absolute;
  top: 156px;
  left: 160px;
  z-index: -1;
}

.second_round {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  border: 1px dashed var(--Color_for_round);
  position: absolute;
  top: 56px;
  left: 59px;
  z-index: -1;
}

.third_round {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  border: 1px solid var(--Color_for_round);
  position: absolute;
  top: -44px;
  left: -40px;
  z-index: -1;
  opacity: 0.3;
}

.forth_round {
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
  border: 1px solid var(--Color_for_round);
  position: absolute;
  top: -142px;
  left: -141px;
  z-index: -1;
  opacity: 0.2;
}

.fifth_round {
  height: 1200px;
  width: 1200px;
  border-radius: 50%;
  border: 1px solid var(--Color_for_round);
  position: absolute;
  top: -241px;
  left: -240px;
  z-index: -1;
  opacity: 0.2;
}

.six_round {
  height: 1400px;
  width: 1400px;
  border-radius: 50%;
  border: 1px solid var(--Color_for_round);
  position: absolute;
  top: -347px;
  left: -340px;
  z-index: -1;
  opacity: 0.1;
}
/*Features That Will Tailor Your Experience*/
.features {
  background-color: var(--Color_blue);
}

.features__title {
  padding-top: 53px;
  padding-left: 100px;
  margin-bottom: 63px;
}

.page__title {
  font-size: 28px;
  text-align: center;
}

.features__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 125px;
  width: 1440px;
}

.features-block {
  width: 310px;
  list-style-type: none;
}

.features-block__text {
  margin-top: 10px;
  line-height: 23px;
}

.features-block--indents {
  margin-right: 91px;
  margin-bottom: 32px;
}

.features-block__text::before {
  content: "• ";
  color: var(--Color1);
}
