* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --inputColor1: #f0f4f7;
  --LATO: "Lato", sans-serif;
}

body {
  margin: 0;
}

.conteiner {
  flex-direction: column;
}

.firstSection {
  height: 100vh;
  width: 1440px;
  background: url("images/Frame.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 163px;
}

.logo {
  padding-top: 55px;
}

.main_h1 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
  font-family: var(--LATO);
  margin-bottom: 27px;
}

.main_content {
  width: 540px;
  padding-top: 100px;
}

.main_info {
  font-family: var(--LATO);
  font-size: 18px;
  line-height: 26px;
}

.links {
  width: 348px;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
